<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<launchConfiguration type="org.talend.designer.runprocess.jobLaunchConfiguration">
<stringAttribute key="CURRENT_PROJECT_NAME" value="ldf"/>
<stringAttribute key="JOB_PROJECT_TECH_LABEL" value="LDF"/>
<stringAttribute key="TALEND_JOB_ID" value="_saQuMLUyEemM-9H2E-8pcw"/>
<stringAttribute key="TALEND_JOB_NAME" value="Copy_of_anl_afn_lev_atl_persoon"/>
<stringAttribute key="TALEND_JOB_VERSION" value="2.0"/>
</launchConfiguration>
