<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<launchConfiguration type="org.talend.designer.runprocess.jobLaunchConfiguration">
<stringAttribute key="CURRENT_PROJECT_NAME" value="ldf"/>
<stringAttribute key="JOB_PROJECT_TECH_LABEL" value="LDF"/>
<stringAttribute key="TALEND_JOB_ID" value="_Z61s4LUvEemM-9H2E-8pcw"/>
<stringAttribute key="TALEND_JOB_NAME" value="Copy_of_Copy_of_test_a"/>
<stringAttribute key="TALEND_JOB_VERSION" value="0.1"/>
</launchConfiguration>
