<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<launchConfiguration type="org.talend.designer.runprocess.jobLaunchConfiguration">
<stringAttribute key="CURRENT_PROJECT_NAME" value="brk"/>
<stringAttribute key="JOB_PROJECT_TECH_LABEL" value="BRK"/>
<stringAttribute key="TALEND_JOB_ID" value="_DEVNYMA7EeWzfbBI0vdmNA"/>
<stringAttribute key="TALEND_JOB_NAME" value="extractInitialFile"/>
<stringAttribute key="TALEND_JOB_VERSION" value="0.1"/>
</launchConfiguration>
