<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<launchConfiguration type="org.talend.designer.runprocess.jobLaunchConfiguration">
<stringAttribute key="CURRENT_PROJECT_NAME" value="iRapportage"/>
<stringAttribute key="JOB_PROJECT_TECH_LABEL" value="IRAPPORTAGE"/>
<stringAttribute key="TALEND_JOB_ID" value="_r2MB8AoPEeqAnMzaSg6WSw"/>
<stringAttribute key="TALEND_JOB_NAME" value="ibz_cipers_read_versieinformatie1"/>
<stringAttribute key="TALEND_JOB_VERSION" value="0.1"/>
</launchConfiguration>
